/* ------------------------------------------------------------------------ */
/* Codigos Estandar Normalizacion */
* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: #f5f3f7;

	cursor: url(/images/imagenesVarias/cursor.cur), auto;
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Formato Organización y Orden Elementos */
/* Pagina Principal */
.cuerpoPagina {
	display: grid;

	/* Cantidad de columnas*/
	grid-template-columns: 5fr 1fr;

	/* División de columnas*/
	grid-gap: 20px;

	/* Division del Area de trabajo */
	grid-template-areas:
		"navegacion 		navegacion"
		"bannerMov			bannerMov"
		"seccPrincipal 		aNoticias"
		"footer				footer";
}
/* Configuración Posicion Elementos(grid-area) */
/* Configuracion Barra Navegación */
.barraNavegacion {
	grid-area: navegacion;
}

/* Banner Principal Animado */
.cuerpoPagina .bannerMovimiento {
	grid-area: bannerMov;
}

/* Sección Contenido Principal Index */
.cuerpoPagina .seccionPrincipal {
	grid-area: seccPrincipal;
}

/* Sección Noticias */
.cuerpoPagina .aNoticias {
	grid-area: aNoticias;
}

/* Sección Footer */
.footer {
	grid-area: footer;
}

/* Formato Organización y Orden Elementos */
/* Pagina Catalogo */
.cuerpoCatalogo {
	display: grid;

	/* Cantidad de columnas*/
	grid-template-columns: 1fr 4fr;

	/* División de columnas*/
	grid-gap: 15px;

	/* Division del Area de trabajo */
	grid-template-areas:
		"navegacion 			navegacion"
		"informacionImportante 	informacionImportante"
		"filtros 				seccPrincipal"
		"footer 				footer";
}

/* Configuración Posicion Elementos(grid-area) */
/* Contenido Previo al Catalogo */
.cuerpoCatalogo .informacionImportante {
	grid-area: informacionImportante;
	margin-left: 10vw;
}

.cuerpoCatalogo .filtros {
	grid-area: filtros;
	margin-left: 10vw;

	max-width: 300px;
}

/* Catalogo Productos */
.cuerpoCatalogo .productos {
	grid-area: seccPrincipal;
	margin-right: 10vw;
}

/* Formato Organización y Orden Elementos */
/* Pagina General con Informacion */
.cuerpoInformacionGeneral {
	display: grid;

	/* Cantidad de columnas*/
	grid-template-columns: 3fr 1fr;

	/* División de columnas*/
	grid-gap: 15px;

	/* Division del Area de trabajo */
	grid-template-areas:
		"navegacion 			navegacion"
		"seccPrincipal 			aNoticias"
		"footer 				footer";
}

/* Configuración Posicion Elementos(grid-area) */
/* Bloque con Toda la Informacion Importante */
.cuerpoInformacionGeneral .seccionPrincipal {
	grid-area: seccPrincipal;
	margin-left: 10vw;
}

/* Bloque Noticias */
.cuerpoInformacionGeneral .aNoticias {
	grid-area: aNoticias;
	margin-right: 10vw;
	justify-content: start;
}

/* Formato Organización y Orden Elementos */
/* Pagina General con Informacion */
.cuerpoNoticia {
	display: grid;

	/* Cantidad de columnas*/
	grid-template-columns: 1fr;

	/* División de columnas*/
	grid-gap: 15px;

	/* Division del Area de trabajo */
	grid-template-areas:
		"navegacion"
		"seccPrincipal"
		"footer";
}

/* Configuración Posicion Elementos(grid-area) */
/* Bloque con Toda la Informacion Importante */
.cuerpoNoticia .contenedorNoticia {
	grid-area: seccPrincipal;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Configuración "display:flex" para elementos dentro del Grid*/
/* Index */
.cuerpoPagina .seccionPrincipal {
	display: flex;
	flex-wrap: wrap;
}

/* Sección Noticias */
.aNoticias {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/* Sección Footer */
.footer {
	display: flex;
	flex-wrap: wrap;
}

.footer2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* Consolas/Accesorios Segunda Mano */
.productos {
	display: flex;
	flex-wrap: wrap;
}

.cuadroProducto {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.articulo {
	display: flex;
	flex-direction: column;
}

/* Sección Información General */

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Modificaciones Tamaño Elementos */
/* Index */
.nav-link {
	font-size: 1.8vh;
}

.navbar img {
	width: 15vh;
	height: auto;
}

.bannerEstatico {
	/* Este display flex es para alinear los contenidos del div */
	display: flex;
	text-align: center;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	border-radius: 10px;
	margin: 5px;

	/* Configuración Imagen Fondo  */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.carousel-item {
	height: 350px;
}

.carousel-control-prev,
.carousel-control-next {
	z-index: 200;
}

.banner1 {
	flex: 52%;
	height: auto;
	background-image: url(/images/paginaPrincipal/cartuchosPersonalizadosBanner.webp);
}

.banner2 {
	flex: 45%;
	height: auto;
	background-image: url(/images/paginaPrincipal/modificacionesConsolasRetrohd1.webp);
}

.banner3 {
	flex: 32%;
	height: auto;
	background-image: url(/images/paginaPrincipal/consolasRetro.png);
}

.banner4 {
	flex: 32%;
	height: auto;
	background-image: url(/images/paginaPrincipal/juegosSegundaManoBanner.webp);
}

.banner5 {
	flex: 32%;
	height: auto;
	background-image: url(/images/paginaPrincipal/liberacionConsolasBannerOscura.webp);
}

/* Productos */
.cuadroProducto {
  flex: 3;
	background-color: white;
	border: solid darkgrey 2px;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
  padding: 10px;

  width: 250px;
	height: auto;
}

.imagenProducto {
	width: 150px;
	height: 150px;
}

/* Mantenimiento Consolas */
.videoInsertado {
	width: 244px;
	height: 442px;
}

/* Usados por Varias Paginas */
/* Sección Noticias */
.noticia {
	border: solid black 3px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
	background-color: white;
}

/* Sección Footer */
.contenedorFooter {
	margin: 5px;
}

.footer1 {
	flex: 2;
}

.footer2 {
	flex: 1;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Web Responsive */
/* Banner Estaticos Index */
@media (max-width: 800px) {
	/* Acomodo Datos Index*/
	.cuerpoPagina {
		grid-template-areas:
			"navegacion 	navegacion"
			"bannerMov		bannerMov"
			"seccPrincipal 	seccPrincipal"
			"aNoticias 		aNoticias"
			"footer			footer";
	}
	/* Tamaño elementos Index*/
	.carousel-item {
		height: auto;
		max-block-size: 300px;
	}

	.cuerpoPagina .bannerEstatico {
		flex: 100%;
		height: 150px;
	}

	.aNoticias {
		align-items: end;
		width: 50%;
	}

	.footer1,
	.footer2 {
		flex: 100%;
		height: auto;
	}

	/* Acomodo Datos Pagina Informacion General*/
	.cuerpoInformacionGeneral {
		grid-template-areas:
			"navegacion 	navegacion"
			"seccPrincipal 	seccPrincipal"
			"aNoticias 		aNoticias"
			"footer			footer";
	}

	/* Tamaño elementos Pagina Informacion General*/
	.cuerpoInformacionGeneral .seccionPrincipal {
		margin-left: 3%;
		margin-right: 3%;
	}

	.cuerpoInformacionGeneral .aNoticias {
		margin-left: auto;
	}

	/* Tamaño elementos Pagina Catalogo*/
	.cuerpoCatalogo .informacionImportante {
		width: 100%;
		margin-left: 3%;
	}

	.cuerpoCatalogo .filtros {
		width: 200px;
		padding: 5px;
		margin-left: 3%;
	}

	.cuerpoCatalogo .filtros__icono {
		margin-top: 10px;
		width: 100px;
	}

	.cuerpoCatalogo .productos {
		margin-right: 0%;
	}

	/* Elementos Noticias */
	.cuerpoNoticia .contenedorNoticia {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
}
/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Formato Texto */
body {
	font-family: "Roboto", sans-serif;
}

.textoLogo,
.textoBanner {
	font-family: "PT Serif", sans-serif;
}

.textoTitulo,
.enlace {
	font-family: "EB Garamond", sans-serif;
}

.textoBanner {
	color: whitesmoke;
	font-size: 40px;
}

.cuerpoInformacionGeneral .seccionPrincipal {
	align-self: start;
}

.seccionPrincipal .textoTitulo {
	align-self: center;
}

.informacionImportante .textoParrafo,
.informacionImportante .textoTitulo {
	width: 80%;
}

.enlace {
	font-style: inherit;
}

.tituloFooter {
	font-size: 25px;
}

.enlaceRedes {
	font-size: 15px;
}

.textoProducto {
	margin: 0;
}

.enlace {
	text-decoration: none;
	color: inherit;
}

.aNoticias .tituloNoticia {
	text-align: center;
	font-size: 1.5rem;
	font-family: "PT Serif", sans-serif;
}

.cuerpoNoticia .tituloNoticia {
	text-align: center;
	font-size: 3rem;
	font-family: "EB Garamond", sans-serif;
	margin-top: 5vh;
	margin-bottom: 3vh;
}

.cuerpoNoticia .textoNoticia {
	font-size: 1.3rem;
}

.negrita {
	font-weight: bold;
}

.enlaceFalso {
	color: #3366BB;
  text-decoration: underline;
	cursor: pointer;
}

.enlaceFalso:hover {
  color: #1851ac;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Formato Estetico y Configuraciones Varias */
/* Index */
.navbar,
.encabezadoTabla {
	background-color: #5c2c6d;
	z-index: 10;
}

.navbar-toggler {
	border: solid 2px #f5f3f7;
}

.navbar-toggler:focus {
	border: none;
}

.nav-item {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #462154;

	border: solid 2px #f5f3f7;
	border-radius: 15px;
	margin: 4px;
	height: auto;
}

.nav-item:hover,
.navbar-brand:hover,
.navbar-toggler:hover {
	transform: scale(1.03);
}

.nav-link,
.textoLogo {
	color: #f5f3f7;
}

.nav-link:hover,
.textoLogo:hover {
	color: #bcbcbc;
}

/* No se que tan criminal es esto, pero no encontre otra opcion, esto se hace para solucionar el problema que si se presionaba el boton la letra se ponia negra */
.nav-link:not(:hover) {
	color: #f5f3f7;
}

.dropdown-menu {
	background-color: transparent;
	border: none;
}

.dropdown-item {
	color: #f5f3f7;
	background-color: #522863;

	border: solid 2px #f5f3f7;
	border-radius: 15px;
	margin: 3px;
	height: auto;
}

.dropdown-item:hover {
	color: #bcbcbc;
	background-color: #522863;
}

.bannerEstatico:hover {
	transform: scale(1.01);
}

/* Seccion Noticias */
.enlace:hover {
	transform: scale(1.01);
}

/* Elementos Colapsables */
.seccionPrincipal .card {
	background-color: transparent;
	border: none;
}

/* Configuracion Imagenes */
.contenedorMapas {
	display: flex;
	flex-wrap: wrap;
}

.seccionPrincipal .imagenArticulo {
	width: 400px;
	display: block;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.seccionPrincipal .mapaArticulo {
	width: 400px;
	display: block;

	margin-left: auto;
	margin-right: auto;
}

/* Catalogo Productos */
.filtros {
	width: 40vh;

	border-radius: 30px / 35px;
	background-color: #5c2c6d;
	color: whitesmoke;

	border: solid #292244;
	padding: 20px;
}

.filtros__icono {
	width: 200px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;

	background-color: #d30cb8;
	box-shadow: 3px 5px #5d0552;
	border-radius: 15px;
}

.filtros__icono-texto {
	font-size: larger;
	margin: 0;
	text-align: center;
}

.filtros__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

/* Formato Tabla(Reproducciones Personalizadas) */
.confTabla {
	width: 70%;
	border: solid 3px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
}

.primeraColumna {
	text-align: left;
}

.encabezadoTabla {
	height: 40px;
}

.encabezadoTabla th {
	width: 11%;
}

.cuerpoTabla {
	background-color: #b8aec8;
}

/* Imagenes Articulos */
.card {
	width: fit-content;
	height: fit-content;
	padding: 0;
	text-align: center;
}

.productoDesactivado {
	display: none;
}

.imagenArticulo img {
	width: 400px;
}

/* Noticias */
.imagenNoticia {
	align-self: center;
	width: 100%;
}

.articulo .imagenNoticia {
	width: 50%;
}

.contenedorVideo {
	width: fit-content;
}

/* Formularios */
#formularioEncargarJuego .card {
	background-color: #f5f3f7;
	border: none;
}

.boton,
.btn {
	background-color: #d30cb8;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	width: auto;
}

.btn:hover {
	background-color: #8c097a;
}

/* Video */
.video {
	width: 100%;
}

/* Footer */
.footer {
	background-color: #b8aec8;
}

/* Otros */
.elementoOculto {
	display: none;
}

/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */
/* Formato Formulario */
/* Configuraciones Estetico y Formato */
.formulario {
	max-width: 700px;
	min-width: 400px;

	background-color: #5c2c6d;
	color: whitesmoke;

	border: solid #292244;
	border-radius: 10px;
	padding: 20px;
	text-align: start;

	display: grid;

	/* Esto crea dos columas y cada una de estas ocupa una fraccion del espacion en total */
	grid-template-columns: 1fr 1fr;

	gap: 20px;
}

/* Aqui no hay nada del otro mundo, solo configuraciones esteticas para el label del formulario */
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

/* No se le puede poner un label principal a los input radio, por lo que el parrafo que sirve de guia se debe configurar */
.formulario__grupo .formulario__texto {
	font-weight: 700;
	margin: 0;
	padding: 10px;
	cursor: pointer;
}

/* Esta seleccion es para quitar la negrita al texto del input type radio */
.textoSinModificar {
	font-weight: normal;
}

/* El check tenia un margen muy amplio, por lo que se le reduce con el siguiente parametro */
.formulario__grupo-check .formulario__label {
	padding: 5px;
}

/* El input esta en un div, por lo que primer vamos a llamar a dicho div */
.formulario__grupo-input {
	/* Esto toma todo el grupo y le da un posicionamiento relativo. Esto nos permitirá despues tomar el icono darle un posisionamiento absoluto de forma que quede acomodado donde debe */
	position: relative;
}

.formulario__input,
.formulario__grupo-select {
	width: 100%;
	background-color: #ffffff;

	/* Colocamos el borde en transparente, esto porque solo nos interesa que sea visible para mostrar al usuario si los datos ingresados son correctos/incorrectos */
	border: 3px solid transparent;

	border-radius: 3px;
	height: 45px;

	/* Esto se agrega para asegurarnos que el texto quede centrado */
	line-height: 45px;

	padding: 0 40px 0 10px;
	transition: 0.3s ease all;
}

/* Agregamos varios detalles esteticos al input cuando este este se encuentra bajo la atención del usuario. Son detalles simples y cuesta notarlos pero valen la pena */
.formulario__input:focus {
	border: 3px solid #d30cb8;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

/* Por defecto ocultamos los mensajes de error, mas abajo tenemos una configuracion para una variación de esta clase en la cual esta activa */
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

/* Esta es solo una de las muchas formas que podemos hacer esto, si vamos a reemplazar la clase se deben volver a copiar todos los parametros. 
  Pero en caso que pongamos las dos juntas y aprovechar el efecto cascada de CSS no haria falta volver a copiar todo, solo las configuraciones que nos interesa modificar */
.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;

	z-index: 100; /* Para asegurarnos que se muestre arriba de todos los elementos */

	font-size: 16px;

	/* Esto lo va a mantener oculto hasta que lo ocupemos */
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

#grupo__colorCartucho,
#grupo__versionEncargar,
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	/* Esto va a hacer que el elemento abarque dos columnas */
	grid-column: span 2;
}

/* Si dejamos esto solo el mensaje queda mal, esto porque el parrafo tiene margenes definidos por defecto. Es importante tomar esto en cuenta para proyectos a futuro */
.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background-color: #f66060;
	padding: 0 15px;
	border-radius: 3px;

	/* Mantenemos el mensaje oculto hasta que se desee mostrar al usuario */
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

/* Vamos a tomar el parrafo que esta dentro del div y le quitamos los margenes para que se vea bien */
.formulario__mensaje p {
	margin: 0;
}

/* Vamos a usar display flex para que los elementos se muestren en columna facilmente */
.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background-color: #d30cb8;
	color: whitesmoke;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;

	transition: 0.1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.6);
}

/* ----- -----  Estilos para Validacion ----- ----- */
/* La logica es la siguiente, cuando los datos sean correctos vamos a cambiar la clase del grupo por "formulario__grupo-correcto", cuando tienen esta clase toman accion las instrucciones que tenemos acá */
/* Por ejemplo: a los elementos que tengan la clase "formulario__validacion-estado" que esten dentro de otro elemento tenga la clase "formulario__grupo-correcto" le cambian el color a verde y le modifican la opacidad */
/* Se ve mucho texto y parece complicado pero en realidad es simple */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: crimson;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: crimson;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid crimson;
}

/* ----- -----  Mediaqueries ----- ----- */
/* Esto se puede colocar arriba para mantener un order, pero sería mas confuso y no tendria orden */
@media screen and (max-width: 800px) {
	/* Si lo tiramos así no funciona, ya que mas arriba hicimos que dos elementos usaran 2 columnas por defecto, esto causa que se generen 2 columnas de forma implicita, aun cuando estamos indicando lo contrario */
	.formulario {
		grid-template-columns: 1fr;

		margin: 0;
	}

	/* Para solucionar este error debemos hacer que los elementos anteriores solo ocupen una fila */
	#grupo__colorCartucho,
	#grupo__versionEncargar,
	.formulario__grupo-terminos,
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		/* Esto va a hacer que el elemento abarque dos columnas */
		grid-column: span 1;
	}

	.formulario__btn {
		width: 100%;
	}
}

/*  
.entradaNormal {
	display: block;
	padding: 2px 0;
	width: 100%;
}

.formularioJuegos p {
	margin-top: 5px;
	margin-bottom: 0;
}

.boton,
.btn {
	background-color: #d30cb8;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	width: auto;
}

.btn:hover {
	background-color: #d30cb8;
}
*/

/* */
/* Comando Criminal(BORRAR)*/
